<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- session config -->
    <servlet>
        <servlet-name>UserConfig</servlet-name>
        <servlet-class>servlet.process.HakiFitUserConfig</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>username</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>password</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CategorySelection</servlet-name>
        <servlet-class>servlet.process.HakiFitCategorySelection</servlet-class>
        <init-param>
            <param-name>cardio</param-name>
            <param-value>cardio</param-value>
        </init-param>
        <init-param>
            <param-name>strengthTraining</param-name>
            <param-value>strengthTraining</param-value>
        </init-param>
        <init-param>
            <param-name>yoga</param-name>
            <param-value>yoga</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ExerciseSelection</servlet-name>
        <servlet-class>servlet.process.HakiFitExerciseSelection</servlet-class>
        <init-param>
            <param-name>c_highKnees</param-name>
            <param-value>c_highKnees</param-value>
        </init-param>
        <init-param>
            <param-name>c_squatJumps</param-name>
            <param-value>c_squatJumps</param-value>
        </init-param>
        <init-param>
            <param-name>c_jogging</param-name>
            <param-value>c_jogging</param-value>
        </init-param>
        <init-param>
            <param-name>st_squats</param-name>
            <param-value>st_squats</param-value>
        </init-param>
        <init-param>
            <param-name>st_bicepCurls</param-name>
            <param-value>st_bicepCurls</param-value>
        </init-param>
        <init-param>
            <param-name>st_pushUp</param-name>
            <param-value>st_pushUp</param-value>
        </init-param>
        <init-param>
            <param-name>yg_yoga</param-name>
            <param-value>yg_yoga</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ProgressTracking</servlet-name>
        <servlet-class>servlet.process.HakiFitProgressTracking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.process.HakiFitLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ready</servlet-name>
        <servlet-class>servlet.process.HakiFitReady</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserConfig</servlet-name>
        <url-pattern>/UserConfig</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HakiFitMainPage</servlet-name>
        <jsp-file>/HakiFit.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>HakiFitMainPage</servlet-name>
        <url-pattern>/Main-Page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategorySelection</servlet-name>
        <url-pattern>/CategorySelection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExerciseSelection</servlet-name>
        <url-pattern>/ExerciseSelection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgressTracking</servlet-name>
        <url-pattern>/ProgressTracking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ready</servlet-name>
        <url-pattern>/Ready</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- listener class -->
    <listener>
        <listener-class>context.listener.HakiFitAppListener</listener-class>
    </listener>
    <context-param>
        <param-name>headerValue</param-name>
        <param-value>Images/HakiFitLogo.png</param-value>
    </context-param>
    <context-param>
        <param-name>footerValue</param-name>
        <param-value>ICS 2608 / 2CSE / MP4 / ALVEAR, MARK JOSH  / NANIONG, NIGEL JAN / VALLES, JAMES VINCENT </param-value>
    </context-param>
    <!-- error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>your.package.AuthenticationException</exception-type>
        <location>/error_authentication.jsp</location>
    </error-page>
    <error-page>
        <exception-type>your.package.NullValueException</exception-type>
        <location>/error_nullvalue.jsp</location>
    </error-page>
    <!-- welcome page -->
    <welcome-file-list>
        <welcome-file>HakiFit_Login.jsp</welcome-file>
        <welcome-file>HakiFit_MainPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
